@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');
// police intro sur cdnfonts
@import url('https://fonts.cdnfonts.com/css/wolfers');
@import url('https://fonts.cdnfonts.com/css/noir-et-blanc');
@import url('https://fonts.cdnfonts.com/css/nulshock');

@font-face {
    font-family: "Robertooooo";
    src: url("../fonts/Roberto-regular.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &:after,&:before{
        box-sizing: border-box;
    }
}

html,body{
    overflow-x: hidden;
}

body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    -webkik-font-smoothing:antialiased;
}

button,select,input,textarea{
    font: inherit;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

// select all p ann h
p,h1,h2,h3,h4,h5,h6{
    // pour que le contenu depasse jamais son parent
    overflow-wrap: break-word;
}

img,video,canvas,svg{
    max-width: 100%;
}

// variables

$green-color: #6cff8d;
$dark-green-color: #6cff8c7a;
$red-Color:#f44336;
$blue-Color:#2196f3;
$yellow-Color:#ffea5c;

